{
    "presets": ["babel-preset-react-app"],
    "plugins": ["emotion"],
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "~": "./src"
                }
            }
        ]
    ]
}