@import 'normalize.css';

:root {
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
    --text-color: #333;
    //Default Layout

    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout--horizontal-spacer: 24px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'ProximaNova', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

button, input, [tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

// Font emmbeded
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/TikTokFont-Regular.woff2')format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/TikTokFont-Semibold.woff2')format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/TikTokFont-Bold.woff2')format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2')format('opentype');
    font-weight: 700;
}

body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 2.2rem;
        border-radius: 8px;
        right: 10px;
        margin-top: -20px;
    }
    
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
        margin-left: 10px;
    }

    .tippy-content {
        padding: 8px 9px;
        display: inline-block;
    }
}