.title {
    margin-bottom: 8px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 18px;
}

.suggest-item {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    padding: 8px 8px 8px 0;
    border-radius: 4px;
    transition: background-color 200ms ease-in-out 0s;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.more {
    color: var(--primary);
    font-size: 1.4rem;
    text-align: left;
    margin-left: -15px !important;
}

.loader {
    display: flex;
    align-items: center;
    --height-of-loader: 4px;
    --loader-color: var(--primary);
    width: 80%;
    height: 2px;
    border-radius: 30px;
    background-color: rgba(0,0,0,0.2);
    position: relative;
  }
  
  .loader::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
    ;
  }
  
  @keyframes moving {
    50% {
      width: 100%;
    }
  
    100% {
      width: 0;
      right: 0;
      left: unset;
    }
  }