.wrapper {
    overflow: hidden auto;
    overscroll-behavior-y: contain;
    perspective: 1px;
    transform-style: preserve-3d;
    perspective-origin: right top;
    top: 60px;
    bottom: 0px;
    width: 262px;
    background: rgb(255, 255, 255);
    position: fixed;
    z-index: 1;
    padding-right: 8px;
}
